<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CityListViewController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AD4D27FB1E275D5200DC0425</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD4D28141E275D5300DC0425</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD4D281F1E275D5300DC0425</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
